{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}
    {% if is_granted('summa_badge_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('summa_badge_create'),
                'entity_label': 'summa.badge.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% set gridName = 'summa-badge-grid' %}
{% set pageTitle = 'summa.badge.entity_plural_label'|trans %}